//nexus.vermeg.com/repository/marketplace-front-QA/:_authToken=NpmToken.08e0f862-bac3-3597-bb27-589357b5b743
//nexus.vermeg.com/repository/marketplace-frontend-group-qa/:_authToken=NpmToken.0657d6a7-4537-3522-bf70-a2c28c57d89d
always-auth=true
registry=https://nexus.vermeg.com/repository/marketplace-frontend-group-qa/
strict-ssl=true
